doctype transitional
// saved from url=(0069)http://denysaputra.me/theme-preview/swiper/light/java/allmodules.html(xmlns='http://www.w3.org/1999/xhtml')
head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')    
  title Fiore Newsletter
  
  body(bgcolor='#f8f8f8', style='padding:0; margin:0;')
    // START OF TOP BAR BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  
                                  td(bgcolor='#da1f3d', width='560')
                                    // START OF PRE-HEADER TEXT TABLE
                                    table.full(align='left', width='255', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='left', style='padding: 18px 20px 0px 20px; font-size:13px ; font-style:normal; color:#ffffff; font-family: Helvetica, Arial, sans-serif; line-height: 18px; mso-line-height-rule: exactly;')
                                            span  #Iulie 2015 
                                    // END OF PRE-HEADER TEXT TABLE
                                    // START OF SPACER
                                    table.spacer(width='25', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td(width='100%', height='20')
                                    // END OF SPACER
                                    // START OF SOCIAL ICONS TABLE
                                    table.full(align='right', width='255', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='right', style='margin: 0; padding: 15px 20px 15px 0px; font-size:13px ; font-style:normal; color:#ffffff; font-family: Helvetica, Arial, sans-serif; line-height: 100%; mso-line-height-rule: exactly;')
                                            span
                                              a(href='www.fiore.ro', style='color:#ffffff; border: none;')
                                                img(src='fiore/facebook.png', alt='facebook', width='24', height='24', border='0')
                                              | &nbsp;    
                                              a(href='www.fiore.ro', style='color:#ffffff; border: none;')
                                                img(src='fiore/twitter.png', alt='twitter', width='24', height='24', border='0')
                                              | &nbsp;     
                                              a(href='www.fiore.ro', style='color:#ffffff; border: none;')
                                                img(src='fiore/gplus.png', alt='goofleplus', width='24', height='24', border='0')                                             
                                    // END OF SOCIAL ICONS TABLE
                                  
    // END OF TOP BAR BLOCK
    // START OF HEADER BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')                    
                    table.table_scale(width='600', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.spacer(width='20')  
                                  |  
                                  td(width='560')
                                    // START OF LOGO IMAGE TABLE
                                    table.full(align='left', width='255', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='left', style='padding: 0px; text-transform: uppercase; font-family: Lucida Sans Unicode; color:#2f2f2f; font-size:24px; line-height:34px;')
                                            span
                                              a(href='www.fiore.ro', style='color:#da1f3d;')
                                                img(src='fiore/logo-fiore.jpg', alt='logo', width='143', height='43', border='0', style='display: inline;')
                                    // END OF LOGO IMAGE TABLE
                                    // START OF SPACER
                                    table(width='25', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td(width='100%', height='30')
                                    // END OF SPACER
                                    // START OF NAVIGATION LINKS TABLE
                                    table.full(align='right', width='255', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='right', style='margin: 0; padding-top: 10px; font-size:12px ; font-style:normal; color:#ffffff; font-family: Helvetica, Arial, sans-serif; line-height: 22px; mso-line-height-rule: exactly;')
                                            span
                                              p(style='color:#ffffff; font-style: normal; text-decoration: none; display: inline') Relatii clienti: 021 361 52 05
                                              |  &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                                              a(href='www.fiore.ro', style='color:#ffffff; font-style: normal;') Vezi Online
                                    // END OF NAVIGATION LINKS TABLE
                                  |  
                                  td.spacer(width='20')  
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#da1f3d', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF HEADER BLOCK
    // START OF MEN.BANNER AREA BLOCK
    table(align='center', bgcolor='#d00b2b', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='150px' style="text-align: center; color: #fff; line-height: 30px; font-family: Helvetica, Arial, sans-serif;")
                     a(href='www.fiore.ro' style='color: #fff; text-decoration: none; font-size: 14px;')  Meniu
                  td(width='150px' style="text-align: center; color: #fff; line-height: 30px; font-family: Helvetica, Arial, sans-serif;")
                     a(href='www.fiore.ro' style='color: #fff; text-decoration: none; font-size: 14px;')  Meniu
                  td(width='150px' style="text-align: center; color: #fff; line-height: 30px; font-family: Helvetica, Arial, sans-serif;")
                     a(href='www.fiore.ro' style='color: #fff; text-decoration: none; font-size: 14px;')  Meniu
                  td(width='150px' style="text-align: center; color: #fff; line-height: 30px; font-family: Helvetica, Arial, sans-serif;")
                     a(href='www.fiore.ro' style='color: #fff; text-decoration: none; font-size: 14px;')  Meniu

    // END OF MENU/BANNER AREA BLOCK
    // START OF FEATURED AREA BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(width='600')
                                    table(align='left', width='540', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      // START OF IMAGE
                                      tbody
                                        tr
                                          td.center(align='center', style='padding: 0px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; ')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img.img_scale(src='fiore/featured-banner.jpg', alt='img-600-280', width='600', height='222', border='0', style='display: block;')
                                        // END OF IMAGE
                                        // START OF TEXT
                                        tr
                                          td.center(align='center', style='margin: 0; padding-top: 30px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; font-size:13px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;')
                                            span
                                              span(style='font-size: 16px; color:#000; display: block; margin-bottom: 10px;') Fiecare săptămână vine cu noi promoții pentru tine 
                                              span(style='font-size: 16px; display: block;margin-bottom: 10px;') În fiecare săptămână te așteptăm cu noi promoții! Vizitează și tu magazinul nostru online și bucură-te de cumpărături la prețuri irezistibile.
                                              a(href='www.fiore.ro', style='color:#ffffff; ')
                                                img(src='fiore/buton-rosu.png' width='102' height='31')
                                        // END OF TEXT
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='30')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF FEATURED AREA BLOCK
    // START OF DIVIDER IMAGE BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(align='center', style='margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 0;')
                                    span
                                      img.divider(src='fiore/separator-orizontal.png', alt='divider image', width='560', height='1', border='0', style='display: block;')
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF DIVIDER IMAGE BLOCK
    // START OF 1/3 COLUMN BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.spacer(width='20')  
                                  |  
                                  td(width='560')
                                    // START OF LEFT COLUMN
                                    table.full(align='left', width='173', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; border: 1px solid #ddd;')
                                      // START OF IMAGE
                                      tbody
                                        tr
                                          td.center(align='center', style='margin: 0; padding-bottom: 15px; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img(src='fiore/product-1.jpg', alt='icon1', width='173', height='231', border='0', style='display: inline-block;')
                                        // END OF IMAGE
                                        // START OF HEADING
                                        tr
                                          td.center(align='center', valign='top', style='padding-bottom: 0px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; mso-line-height-rule: exactly;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#2f2f2f; text-decoration: none; font-style: normal; font-weight: normal;font-size: 12px;')  Colanti Fiore RACHEL
                                        // END OF HEADING
                                        // START OF TEXT
                                        tr
                                          td.center(align='center', style='margin: 0; font-size:13px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; mso-line-height-rule: exactly;')
                                            span  Donec id elit. 
                                        // END OF TEXT
                                        // START OF BUTTON
                                        tr
                                          td(bgcolor='#ffffff', align='center', valign='top', style='padding-top: 20px;')
                                            table(border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#da1f3d', style='margin: 0;')
                                              tbody
                                                tr
                                                  td(align='center', valign='middle', bgcolor='#da1f3d', style='padding: 5px 20px; text-transform: normal; font-size: 12px; line-height: 18px; font-family: Arial,sans-serif; color:#ffffff; margin: 0 !important; ')
                                                    a(href='www.fiore.ro', style='border: none; font-weight: bold; font-style: normal; color:#ffffff; text-decoration: none;')  Descoperă 
                                        // END OF BUTTON
                                    // END OF LEFT COLUMN
                                    // START OF SPACER
                                    table(width='20', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td(width='100%', height='30')
                                    // END OF SPACER
                                    // START OF LEFT COLUMN
                                    table.full(align='left', width='173', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; border: 1px solid #ddd;')
                                      // START OF IMAGE
                                      tbody
                                        tr
                                          td.center(align='center', style='margin: 0; padding-bottom: 15px; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img(src='fiore/product-1.jpg', alt='icon1', width='173', height='231', border='0', style='display: inline-block;')
                                        // END OF IMAGE
                                        // START OF HEADING
                                        tr
                                          td.center(align='center', valign='top', style='padding-bottom: 0px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; mso-line-height-rule: exactly;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#2f2f2f; text-decoration: none; font-style: normal; font-weight: normal;font-size: 12px;')  Colanti Fiore RACHEL
                                        // END OF HEADING
                                        // START OF TEXT
                                        tr
                                          td.center(align='center', style='margin: 0; font-size:13px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; mso-line-height-rule: exactly;')
                                            span  Donec id elit. 
                                        // END OF TEXT
                                        // START OF BUTTON
                                        tr
                                          td(bgcolor='#ffffff', align='center', valign='top', style='padding-top: 20px;')
                                            table(border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#da1f3d', style='margin: 0;')
                                              tbody
                                                tr
                                                  td(align='center', valign='middle', bgcolor='#da1f3d', style='padding: 5px 20px; text-transform: normal; font-size: 12px; line-height: 18px; font-family: Arial,sans-serif; color:#ffffff; margin: 0 !important; ')
                                                    a(href='www.fiore.ro', style='border: none; font-weight: bold; font-style: normal; color:#ffffff; text-decoration: none;')  Descoperă 
                                        // END OF BUTTON
                                    // END OF LEFT COLUMN
                                    // START OF SPACER
                                    table(width='10', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td(width='100%', height='30')
                                    // END OF SPACER
                                    // START OF LEFT COLUMN
                                    table.full(align='left', width='173', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; border: 1px solid #ddd;')
                                      // START OF IMAGE
                                      tbody
                                        tr
                                          td.center(align='center', style='margin: 0; padding-bottom: 15px; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img(src='fiore/product-1.jpg', alt='icon1', width='173', height='231', border='0', style='display: inline-block;')
                                        // END OF IMAGE
                                        // START OF HEADING
                                        tr
                                          td.center(align='center', valign='top', style='padding-bottom: 0px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; mso-line-height-rule: exactly;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#2f2f2f; text-decoration: none; font-style: normal; font-weight: normal;font-size: 12px;')  Colanti Fiore RACHEL
                                        // END OF HEADING
                                        // START OF TEXT
                                        tr
                                          td.center(align='center', style='margin: 0; font-size:13px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; mso-line-height-rule: exactly;')
                                            span  Donec id elit. 
                                        // END OF TEXT
                                        // START OF BUTTON
                                        tr
                                          td(bgcolor='#ffffff', align='center', valign='top', style='padding-top: 20px;')
                                            table(border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#da1f3d', style='margin: 0;')
                                              tbody
                                                tr
                                                  td(align='center', valign='middle', bgcolor='#da1f3d', style='padding: 5px 20px; text-transform: normal; font-size: 12px; line-height: 18px; font-family: Arial,sans-serif; color:#ffffff; margin: 0 !important; ')
                                                    a(href='www.fiore.ro', style='border: none; font-weight: bold; font-style: normal; color:#ffffff; text-decoration: none;')  Descoperă 
                                        // END OF BUTTON
                                    // END OF LEFT COLUMN
                                  |  
                                  td.spacer(width='20')  
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF 1/3 COLUMN BLOCK
    // START OF DIVIDER IMAGE BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(align='center', style='margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 0;')
                                    span
                                      img.divider(src='fiore/separator-orizontal.png', alt='divider image', width='560', height='1', border='0', style='display: block;')
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF DIVIDER IMAGE BLOCK
    // START OF 1/3 AND 2/3 COL LEFT IMAGE BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.spacer(valign='top', width='20')  
                                  |  
                                  td(valign='top', width='540')
                                    // START OF LEFT COLUMN
                                    table.full(align='left', width='173', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='left', style='margin: 0; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img(src='./Swiper-all-green_files/img-173-173.png', alt='img-173-173', width='173', height='173', border='0', style='display: inline-block;')
                                    // END OF LEFT COLUMN
                                    // START OF SPACER
                                    table(width='10', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td(width='100%', height='30')
                                    // END OF SPACER
                                    // START OF RIGHT COLUMN
                                    table.full(align='right', width='367', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      // START OF HEADING
                                      tbody
                                        tr
                                          td.center(align='left', valign='top', style='padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; mso-line-height-rule: exactly;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#2f2f2f; text-decoration: none; font-style: normal; font-weight: normal;')  Major Email Clients Compatible 
                                        // END OF HEADING
                                        // START OF TEXT
                                        tr
                                          td.center(align='left', valign='top', style='margin: 0; font-size:13px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;')
                                            span
                                              | Adipiscing temporibus in nam,cu impetus percipit has,nam ex decore recusabo. An ius falli aeque aliquam,in summo invenire has. Sonet menandri elaboraret qui te postulant.
                                        // END OF TEXT
                                        // START OF BUTTON
                                        tr
                                          td(bgcolor='#ffffff', align='left', valign='top', style='padding-top: 20px;')
                                            table(border='0', align='left', cellpadding='0', cellspacing='0', bgcolor='#da1f3d', style='margin: 0;')
                                              tbody
                                                tr
                                                  td(align='center', valign='middle', bgcolor='#da1f3d', style='padding: 5px 20px; text-transform: normal; font-size: 12px; line-height: 18px; font-family: Arial,sans-serif; color:#ffffff; margin: 0 !important; ')
                                                    a(href='www.fiore.ro', style='border: none; font-weight: bold; font-style: normal; color:#ffffff; text-decoration: none;')   Descoperă 
                                        // END OF BUTTON
                                    // END OF RIGHT COLUMN
                                  |  
                                  td.spacer(valign='top', width='20')  
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF 1/3 AND 2/3 COL LEFT IMAGE BLOCK
    // START OF 2/3 AND 1/3 COL LEFT IMAGE BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.spacer(valign='top', width='20')  
                                  |  
                                  td(valign='top', width='540')
                                    // START OF LEFT COLUMN
                                    table.full(align='left', width='367', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      // START OF HEADING
                                      tbody
                                        tr
                                          td.center(align='left', valign='top', style='padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; mso-line-height-rule: exactly;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#2f2f2f; text-decoration: none; font-style: normal; font-weight: normal;')  Repeatable &amp;Flexible Modular 
                                        // END OF HEADING
                                        // START OF TEXT
                                        tr
                                          td.center(align='left', valign='top', style='margin: 0; font-size:13px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;')
                                            span
                                              | Adipiscing temporibus in nam,cu impetus percipit has,nam ex decore recusabo. An ius falli aeque aliquam,in summo invenire has. Sonet menandri elaboraret qui te postulant.
                                        // END OF TEXT
                                        // START OF BUTTON
                                        tr
                                          td(bgcolor='#ffffff', align='left', valign='top', style='padding-top: 20px;')
                                            table(border='0', align='left', cellpadding='0', cellspacing='0', bgcolor='#da1f3d', style='margin: 0;')
                                              tbody
                                                tr
                                                  td(align='center', valign='middle', bgcolor='#da1f3d', style='padding: 5px 20px; text-transform: normal; font-size: 12px; line-height: 18px; font-family: Arial,sans-serif; color:#ffffff; margin: 0 !important; ')
                                                    a(href='www.fiore.ro', style='border: none; font-weight: bold; font-style: normal; color:#ffffff; text-decoration: none;')   Descoperă 
                                        // END OF BUTTON
                                    // END OF LEFT COLUMN
                                    // START OF SPACER
                                    table(width='15', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td(width='100%', height='30')
                                    // END OF SPACER
                                    // START OF RIGHT COLUMN
                                    table.full(align='right', width='173', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='left', style='margin: 0; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img(src='./Swiper-all-green_files/img-173-173.png', alt='img-173-173', width='173', height='173', border='0', style='display: inline-block;')
                                    // END OF RIGHT COLUMN
                                  |  
                                  td.spacer(valign='top', width='20')  
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF 2/3 AND 1/3 COL LEFT IMAGE BLOCK
    // START OF DIVIDER IMAGE BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(align='center', style='margin: 0; font-size:14px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 0;')
                                    span
                                      img.divider(src='./Swiper-all-green_files/divider-image.png', alt='divider image', width='600', height='5', border='0', style='display: block;')
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF DIVIDER IMAGE BLOCK
    // START OF 1/2 COLUMN LEFT IMAGE BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.spacer(width='20')  
                                  |  
                                  td(width='560')
                                    // START OF LEFT COLUMN
                                    table.full(align='left', width='270', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='left', style='margin: 0; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img.img_scale(src='./Swiper-all-green_files/img-270-160.png', alt='img-270-160', width='270', height='160', border='0', style='display: block;')
                                    // END OF LEFT COLUMN
                                    // START OF SPACER
                                    table(width='15', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td(width='100%', height='30')
                                    // END OF SPACER
                                    // START OF RIGHT COLUMN
                                    table.full(align='right', width='270', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      // START OF HEADING
                                      tbody
                                        tr
                                          td.center(align='left', style='padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; mso-line-height-rule: exactly;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#2f2f2f; text-decoration: none; font-style: normal; font-weight: normal;')  Campaign Monitor Ready 
                                        // END OF HEADING
                                        // START OF TEXT
                                        tr
                                          td.center(align='left', style='margin: 0; font-size:13px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;')
                                            span
                                              | Adipiscing temporibus in nam,cu impetus percipit has,nam ex decore recusabo. An ius falli aeque aliquam in summo invenire.
                                        // END OF TEXT
                                        // START OF BUTTON
                                        tr
                                          td(bgcolor='#ffffff', align='left', valign='top', style='padding-top: 20px;')
                                            table(border='0', align='left', cellpadding='0', cellspacing='0', bgcolor='#da1f3d', style='margin: 0;')
                                              tbody
                                                tr
                                                  td(align='center', valign='middle', bgcolor='#da1f3d', style='padding: 5px 20px; text-transform: normal; font-size: 12px; line-height: 18px; font-family: Arial,sans-serif; color:#ffffff; margin: 0 !important; ')
                                                    a(href='www.fiore.ro', style='border: none; font-weight: bold; font-style: normal; color:#ffffff; text-decoration: none;')   Descoperă 
                                        // END OF BUTTON
                                    // END OF RIGHT COLUMN
                                  |  
                                  td.spacer(width='20')  
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF 1/2 COLUMN LEFT IMAGE BLOCK
    // START OF 1/2 COLUMN RIGHT IMAGE BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.spacer(width='20')  
                                  |  
                                  td(width='560')
                                    // START OF RIGHT COLUMN
                                    table.full(align='left', width='270', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      // START OF HEADING
                                      tbody
                                        tr
                                          td.center(align='left', style='padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; mso-line-height-rule: exactly;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#2f2f2f; text-decoration: none; font-style: normal; font-weight: normal;')  Clean &amp;Minimalist Design 
                                        // END OF HEADING
                                        // START OF TEXT
                                        tr
                                          td.center(align='left', style='margin: 0; font-size:13px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;')
                                            span
                                              | Adipiscing temporibus in nam,cu impetus percipit has,nam ex decore recusabo. An ius falli aeque aliquam in summo invenire.
                                        // END OF TEXT
                                        // START OF BUTTON
                                        tr
                                          td(bgcolor='#ffffff', align='left', valign='top', style='padding-top: 20px;')
                                            table(border='0', align='left', cellpadding='0', cellspacing='0', bgcolor='#da1f3d', style='margin: 0;')
                                              tbody
                                                tr
                                                  td(align='center', valign='middle', bgcolor='#da1f3d', style='padding: 5px 20px; text-transform: normal; font-size: 12px; line-height: 18px; font-family: Arial,sans-serif; color:#ffffff; margin: 0 !important; ')
                                                    a(href='www.fiore.ro', style='border: none; font-weight: bold; font-style: normal; color:#ffffff; text-decoration: none;')   Descoperă 
                                        // END OF BUTTON
                                    // END OF RIGHT COLUMN
                                    // START OF SPACER
                                    table(width='15', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td(width='100%', height='30')
                                    // END OF SPACER
                                    // START OF LEFT COLUMN
                                    table.full(align='right', width='270', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='left', style='margin: 0; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img.img_scale(src='./Swiper-all-green_files/img-270-160.png', alt='img-270-160', width='270', height='160', border='0', style='display: block;')
                                    // END OF LEFT COLUMN
                                  |  
                                  td.spacer(width='20')  
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF 1/2 COLUMN RIGHT IMAGE BLOCK
    // START OF 1/2 COLUMN TOP IMAGE BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.spacer(width='20')  
                                  |  
                                  td(width='560')
                                    // START OF LEFT COLUMN
                                    table.full(align='left', width='270', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      // START OF IMAGE
                                      tbody
                                        tr
                                          td.center(align='center', style='padding-bottom: 20px; margin: 0; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img.img_scale(src='./Swiper-all-green_files/img-270-160.png', alt='img-270-160', width='270', height='160', border='0', style='display: block;')
                                        // END OF IMAGE
                                        // START OF HEADING
                                        tr
                                          td.center(align='center', style='padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; mso-line-height-rule: exactly;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#2f2f2f; text-decoration: none; font-style: normal; font-weight: normal;')  Ready To Use Templates 
                                        // END OF HEADING
                                        // START OF TEXT
                                        tr
                                          td.center(align='center', style='margin: 0; font-size:13px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;')
                                            span
                                              | Adipiscing temporibus in nam,cu impetus percipit has,nam ex decore recusabo. An ius falli aeque aliquam in summo invenire.
                                        // END TEXT
                                        // START OF BUTTON
                                        tr
                                          td(bgcolor='#ffffff', align='center', valign='top', style='padding-top: 20px;')
                                            table(border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#da1f3d', style='margin: 0;')
                                              tbody
                                                tr
                                                  td(align='center', valign='middle', bgcolor='#da1f3d', style='padding: 5px 20px; text-transform: normal; font-size: 12px; line-height: 18px; font-family: Arial,sans-serif; color:#ffffff; margin: 0 !important; ')
                                                    a(href='www.fiore.ro', style='border: none; font-weight: bold; font-style: normal; color:#ffffff; text-decoration: none;')   Descoperă 
                                        // END OF BUTTON
                                    // END OF LEFT COLUMN
                                    // START OF SPACER
                                    table(width='15', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td(width='100%', height='30')
                                    // END OF SPACER
                                    // START OF RIGHT COLUMN
                                    table.full(align='right', width='270', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      // START OF IMAGE
                                      tbody
                                        tr
                                          td.center(align='center', style='padding-bottom: 20px; margin: 0; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img.img_scale(src='./Swiper-all-green_files/img-270-160.png', alt='img-270-160', width='270', height='160', border='0', style='display: block;')
                                        // END OF IMAGE
                                        // START OF HEADING
                                        tr
                                          td.center(align='center', style='padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; mso-line-height-rule: exactly;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#2f2f2f; text-decoration: none; font-style: normal; font-weight: normal;')  Easy To Customize 
                                        // END OF HEADING
                                        // START OF TEXT
                                        tr
                                          td.center(align='center', style='margin: 0; font-size:13px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;')
                                            span
                                              | Adipiscing temporibus in nam,cu impetus percipit has,nam ex decore recusabo. An ius falli aeque aliquam in summo invenire.
                                        // END OF TEXT
                                        // START OF BUTTON
                                        tr
                                          td(bgcolor='#ffffff', align='center', valign='top', style='padding-top: 20px;')
                                            table(border='0', align='center', cellpadding='0', cellspacing='0', bgcolor='#da1f3d', style='margin: 0;')
                                              tbody
                                                tr
                                                  td(align='center', valign='middle', bgcolor='#da1f3d', style='padding: 5px 20px; text-transform: normal; font-size: 12px; line-height: 18px; font-family: Arial,sans-serif; color:#ffffff; margin: 0 !important; ')
                                                    a(href='www.fiore.ro', style='border: none; font-weight: bold; font-style: normal; color:#ffffff; text-decoration: none;')   Descoperă 
                                        // END OF BUTTON
                                    // END OF RIGHT COLUMN
                                  |  
                                  td.spacer(width='20')  
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF 1/2 COLUMN TOP IMAGE BLOCK
    // START OF 1/3 COLUMN FEATURED PRODUCTS BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#f3f3f3', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
                    table.table_scale(width='600', bgcolor='#f3f3f3', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.spacer(width='20')  
                                  |  
                                  td(width='560')
                                    table.full(align='left', width='560', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='center', style='padding-bottom: 20px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; mso-line-height-rule: exactly;')
                                            span  Our Reviewer Selections 
                                  |  
                                  td.spacer(width='20')  
                            |  
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.spacer(width='20')  
                                  |  
                                  td(width='560')
                                    // START OF LEFT COLUMN
                                    table.full(align='left', width='173', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='left', style='margin: 0; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img(src='./Swiper-all-green_files/img-173-110.png', alt='img-173-110', width='173', height='110', border='0', style='display: inline-block;')
                                    // END OF LEFT COLUMN
                                    // START OF SPACER
                                    table(width='20', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td(width='100%', height='30')
                                    // END OF SPACER
                                    // START OF MIDDLE COLUMN
                                    table.full(align='left', width='173', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='left', style='margin: 0; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img(src='./Swiper-all-green_files/img-173-110.png', alt='img-173-110', width='173', height='110', border='0', style='display: inline-block;')
                                    // END OF MIDDLE COLUMN
                                    // START OF SPACER
                                    table(width='10', align='left', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td(width='100%', height='30')
                                    // END OF SPACER
                                    // START OF RIGHT COLUMN
                                    table.full(align='right', width='173', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='left', style='margin: 0; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img(src='./Swiper-all-green_files/img-173-110.png', alt='img-173-110', width='173', height='110', border='0', style='display: inline-block;')
                                    // END OF RIGHT COLUMN
                                  |  
                                  td.spacer(width='20')  
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#f3f3f3', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF 1/3 COLUMN FEATURED PRODUCTS BLOCK
    // START OF 1/1 (FULL WIDTH) COLUMN BLOCK BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#ffffff', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.spacer(width='20')  
                                  |  
                                  td(width='560')
                                    table.full(align='left', width='560', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      // START OF IMAGE
                                      tbody
                                        tr
                                          td.center(align='left', style='padding-bottom: 20px; margin: 0; font-size:13px ; color:#b8b8b8; font-family: Helvetica, Arial, sans-serif; line-height: 23px;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#da1f3d;')
                                                img.img_scale(src='./Swiper-all-green_files/img-560-110.png', alt='img-560-110', width='560', height='110', border='0', style='display: block;')
                                        // END OF IMAGE
                                        // START OF HEADING
                                        tr
                                          td.center(align='left', style='padding-bottom: 10px; font-family: Helvetica, Arial, sans-serif; color:#2f2f2f; font-size:18px; line-height:28px; mso-line-height-rule: exactly;')
                                            span
                                              a(href='www.fiore.ro', style='border: none; color:#2f2f2f; text-decoration: none; font-style: normal; font-weight: normal;')  On-Going Supported Along With Detailed Help Documentations 
                                        // END OF HEADING
                                        // START OF TEXT
                                        tr
                                          td.center(align='left', style='margin: 0; font-size:13px ; color:#aaaaaa; font-family: Helvetica, Arial, sans-serif; line-height: 23px;mso-line-height-rule: exactly;')
                                            span
                                              | Adipiscing temporibus in nam,cu impetus percipit has,nam ex decore recusabo. An ius falli aeque aliquam,in summo invenire has. Sonet menandri elaboraret qui te,ius te ipsum lorem,wisi semper mediocritatem ea duo.
                                        // END OF TEXT
                                        // START OF BUTTON
                                        tr
                                          td(bgcolor='#ffffff', align='left', valign='top', style='padding-top: 20px;')
                                            table(border='0', align='left', cellpadding='0', cellspacing='0', bgcolor='#da1f3d', style='margin: 0;')
                                              tbody
                                                tr
                                                  td(align='center', valign='middle', bgcolor='#da1f3d', style='padding: 5px 20px; text-transform: normal; font-size: 12px; line-height: 18px; font-family: Arial,sans-serif; color:#ffffff; margin: 0 !important; ')
                                                    a(href='www.fiore.ro', style='border: none; font-weight: bold; font-style: normal; color:#ffffff; text-decoration: none;')   Descoperă 
                                        // END OF BUTTON
                                  |  
                                  td.spacer(width='20')  
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#ffffff', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF 1/1 (FULL WIDTH) COLUMN BLOCK
    // START OF FOOTER BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#da1f3d', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
                    table.table_scale(width='600', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td.spacer(width='20')  
                                  |  
                                  td(width='560')
                                    table.full(align='center', width='560', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='center', style='margin: 0; padding: 0px; font-size:12px ; font-style:normal; color:#ffffff; font-family: Helvetica, Arial, sans-serif; line-height: 22px; mso-line-height-rule: exactly;')
                                            span
                                              | You are receiving this email because you subscribed in list name for newsletter Our mailing address is:yoursite.com,P.O. Box 264,London,UK 57378
                                            |  
                                            br
                                            |  
                                            span(style='color:#ffffff;')
                                              a(href='www.fiore.ro', style='color:#ffffff; font-style: normal; tex-decoration: none;') Visit Our Website
                                              |  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                              a(href='www.fiore.ro', style='color:#ffffff; font-style: normal; tex-decoration: none;') Update Your Profile
                                              |  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                                              a(href='www.fiore.ro', style='color:#ffffff; font-style: normal; tex-decoration: none;') Unsubscribe
                                  |  
                                  td.spacer(width='20')  
                    // START OF VERTICAL SPACER
                    table.table_scale(bgcolor='#da1f3d', width='600', align='center', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%', height='20')  &nbsp;
                    // END OF VERTICAL SPACER
    // END OF FOOTER BLOCK
    // START OF COPYRIGHT BLOCK
    table(align='center', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
      tbody
        tr
          td(valign='top', width='100%')
            table(cellpadding='0', cellspacing='0', border='0')
              tbody
                tr
                  td(width='100%')
                    table.table_scale(width='600', bgcolor='#da1f3d', cellpadding='0', cellspacing='0', border='0')
                      tbody
                        tr
                          td(width='100%')
                            table(width='600', cellpadding='0', cellspacing='0', border='0')
                              tbody
                                tr
                                  td(bgcolor='#da1f3d', width='20')  
                                  |  
                                  td.copyright(bgcolor='#da1f3d', width='560')
                                    table.copyright(align='center', width='560', cellpadding='0', cellspacing='0', border='0', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                      tbody
                                        tr
                                          td.center(align='center', style='padding: 8px 20px 8px 20px; font-size:13px ; font-style:normal; color:#ffffff; font-family: Helvetica, Arial, sans-serif; line-height: 18px; mso-line-height-rule: exactly;')
                                            span
                                              | &copy;2013 Swiper by 
                                              a(href='www.fiore.ro', style='color:#ffffff; font-style: normal; tex-decoration: none;') saputrad
                                  |  
                                  td(bgcolor='#da1f3d', width='20')  
    // END OF COPYRIGHT BLOCK
