=h-nav($pad: 0px)
	+clearfix
	list-style-type: none
	padding-left: $pad
	li 
		float: left
=v-nav
	ul	
		list-style-type: none
=justify-nav
	ul
		list-style-type: none
	li
		display: table-cell
=default-input
	+input-size(".form-control", 1.2em, 0.2em, 0.5em, 1em, 1.4, 0)		
