.product-page
	+make-row()
	.product-item
		+make-sm-column(10)
		+clearfix
		padding: 0
		padding-top: $spacing
	.product-image
		+make-sm-column(6)		
		.thumbnails
			+make-sm-column(2)
			+make-md-column(12)
			+make-lg-column(2)			
			padding: 0
			a
				border: 1px solid #eee
			@media (min-width: $screen-md-min)
				float: left
			@media (max-width: $screen-lg-min)
				ul
					+h-nav					
				li 
					width: 15%
					margin-right: $spacing
		.main-image
			+make-sm-column(10)
			+make-md-column(12)
			+make-lg-column(10)
			padding-right: 0
			margin-bottom: $spacing
			// img 
			// 	box-shadow: 0px 0px 6px #ddd
			// 	border: 1px solid #00bed4	
			@media (min-width: $screen-md-min)
				float: right
			@media (max-width: $screen-lg-min)
				padding-right: $spacing
				padding: 0
					
	.product-related-list
		+make-sm-column(12)
		+make-md-column(2)
		+make-lg-column(2)	
	.product-content
		+make-sm-column(6)		
		p
			margin-bottom: 0
			font-size: 0.8em
		.product-title
			font-weight: 300
			color: $blue
		.product-code
			color: #ddd
		.product-info-secondary
			// padding: 0px 0px $spacing/2
			border-bottom: 1px solid #ddd
			margin-bottom: $spacing
			.headline
				font-size: 1em
				margin-bottom: 0
				display: none
			p
				margin-bottom: 0.5em 
			a
				font-size: 0.8em
				color: #000
				text-decoration: underline
				margin-bottom: 0.8em
		.product-info-main
			margin-bottom: $spacing		
		.product-options
			// padding: $spacing
			// border: 1px solid #ddd
		.price
			font-size: 2em
			line-height: 1em
			sup
				font-size: 0.4em
				top: -1em		
		.old-price
			text-decoration: line-through
			color: #ddd	
	.variant-select
		select 
			font-size: 0.8em	
			border: 1px solid #000
			// background-color: $blue
			// border-color: scale-lightness($blue, -20)
			// outline: none
			// font-weight: 600
			// color: #fff
	.variant-container	
		padding: 0.8em 0
		border-bottom: 1px dotted #ddd
		&:first-child
			padding-top: 0
		&:last-child
			border-bottom: none
			padding-bottom: 0.3em	
		p 
			margin-bottom: 0.3em
			font-weight: 700
			font-size: 0.8em
			text-transform: uppercase
	.extras
		li
			max-width: 20%
			padding-right: $spacing
		ul
			+h-nav
			display: none
		p
			margin-top: 0.5em
			font-weight: 400
			margin: 0
			text-transform: none
			span
				font-weight: 600	
		a
			color: #000
			text-decoration: underline			
.variant-box
	ul
		+h-nav
	a
		border: 1px solid #000
		width: 4em
		text-align: center
		margin-right: 0.5em
		color: #000
		font-size: 0.8em
		&:hover
			background-color: $blue
			border-color: scale-lightness($blue, -20)
			color: #fff
			position: relative
			font-weight: 600
		&[data-pick="checked"]
			background-color: $blue
			border-color: scale-lightness($blue, -20)
			color: #fff
			position: relative
			font-weight: 600
			&:after			
				font-family: "FontAwesome"
				content: "\f00c"
				font-weight: 400
				position: absolute
				font-size: 0.7em
				margin-left: 0.3em
				color: scale-lightness($blue, -20)
.add-to-basket
	background-color: $red
	padding: 0 0.8em
	line-height: 2em
	// border: 1px solid #b5c54a
	color: #fff
	+transition(all 0.2s ease-in)
	&:before		
		+transition(all 0.2s ease-in)
		content: "+"
		font-weight: 300
		margin-right: 0.5em
		font-size: 1.4em
		float: left
		display: block
	&:hover		
		color: #fff
		background-color: $blue
		&:before
			transform: scale(1.8)
			// color: $red
.submit-order
	p
		display: inline-block
		margin-right: 0.3em
	input		
		max-width: 3.8em
		font-size: 0.8em
		border: 1px solid #000
		padding: 0.2em 0.5em
	a 
		margin-right: 0.3em	
.product-related-list
	padding-top: $spacing
	p 
		font-style: italic
		text-align: center
		font-weight: 300
		font-size: 0.8em
	.related-item
		a 
			color: #000
			span
				display: block
				font-size: 0.8em
				font-weight: 400
				text-align: center
				line-height: 2em
				margin-bottom: 2em
.product-tab
	padding-top: $spacing
	+make-sm-column(12)
	.product-description
		font-size: 0.8em
		h3
			font-size: 1.8em
			font-weight: 300
.product-recommended
	.item 
		+make-sm-column(2,10)	